<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}"/>
</head>
<body>
    
    <h1>CheckerBoard</h1>


    <div class="board">
    <table>
        
        {% for i in range (0,xmax,1) %}
        <tr>
            {% for j in range (0,ymax,1) %}
            <td class='color{{ (i+j)%2+1 }}'></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>